@use '@angular/material' as mat;
@import '../../styles/mixins.scss';

.card {
  @include cardContainer;

  cursor: pointer;

  &__header {
    padding: 25px 25px 20px 25px;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 400 / 217;
  }

  &__subtitle {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 24px;
    color: var(--title-color);
    opacity: 60%;

    @include mat.card-overrides(
      (
        subtitle-text-font: Montserrat,
        subtitle-text-size: 14px,
        subtitle-text-weight: 400,
        subtitle-text-line-height: 150%,
      )
    );

    &--icon {
      font-size: 16px;
      line-height: normal;
      width: fit-content;
      height: fit-content;

      @include mat.icon-overrides(
        (
          color: #363636,
        )
      );
    }
  }

  &__title {
    text-overflow: clip;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--title-color);

    @include mat.card-overrides(
      (
        title-text-font: Montserrat,
        title-text-size: 24px,
        title-text-weight: 400,
        title-text-line-height: 100%,
      )
    );
  }

  &__content {
    padding: 0px 25px 20px 25px;
  }

  &__description {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: normal;
    color: var(--text-color);
  }

  &__actions {
    padding: 0px 25px 25px 25px;
  }

  &__link {
    @include mat.button-overrides(
      (
        text-label-text-font: Montserrat,
        text-label-text-size: 16px,
        text-label-text-weight: 700,
        text-label-text-color: var(--link-color),
        text-with-icon-horizontal-padding: 0,
      )
    );

    &:hover {
      opacity: 60%;
    }

     &--icon {
      margin: 0;
      font-size: 16px;
      line-height: normal;
      width: fit-content;
      height: fit-content;

      @include mat.icon-overrides(
        (
          color: var(--link-color),
        )
      );
    }
  }
}

::ng-deep .highlight-text {
  background: #fff96e;
}

::ng-deep .mat-mdc-button .mdc-button__label+.mat-icon {
    margin-right: 0;
    margin-left: 6px;
}
