@use '@angular/material' as mat;
@import '../../styles/mixins.scss';

.article {
  height: 100%;
  position: relative;

  &__image {
    z-index: 0;
    top: 1;
    position: absolute;
    width: 100%;
    height: 245px;
    object-fit: cover;
  }

  &__container {
    box-sizing: border-box;
    padding: 150px 75px 45px 75px;
    position: relative;
  }

  &__card {
    @include cardContainer;

    margin-bottom: 35px;
    padding: 35px 75px 50px 75px;
  }

  &__header {
    margin: 0 0 50px;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  &__title {
    color: var(--title-color);

    @include mat.card-overrides(
      (
        title-text-font: Montserrat,
        title-text-size: 24px,
        title-text-weight: 400,
        title-text-line-height: 100%,
      )
    );
  }

  &__content {
    padding: 0;
  }

  &__description {
    margin: 0;
    white-space: pre-line;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: normal;
    color: var(--text-color);
  }

  &__link {
    margin-left: 75px;
    height: fit-content;

    @include mat.button-overrides(
      (
        text-label-text-font: Montserrat,
        text-label-text-size: 16px,
        text-label-text-weight: 700,
        text-label-text-color: var(--link-color),
        text-with-icon-horizontal-padding: 0,
      )
    );

     &--icon {
      margin: 0;
      font-size: 16px;
      line-height: normal;
      width: fit-content;
      height: fit-content;

      @include mat.icon-overrides(
        (
          color: var(--link-color),
        )
      );
    }
  }
}

.mat-mdc-card-content:last-child {
  padding: 0;
}

.mat-mdc-button>.mat-icon {
    margin-right: 6px;
    margin-left: 0;
}
